.App {
  color: blue;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  margin-top: -40rem;
  position: absolute;
  background-color: gray;
  padding: 3rem 3rem 3rem 42rem;
  margin-right: -3.5rem;
  font-size: 45px;
}

.buttons {
  display: grid;
  grid-template-columns: 20px 20px 20px 20px;
  grid-template-rows: 20px 20px 20px 20px;
  row-gap: 6rem;
  column-gap: 10rem;
  margin-right: 8rem;
}

.buttons .ac, .both, .percentage, .division, .seven, .eight, .nine, .x, .four, .five, .six, .minus, .one, .two, .three, .plus {
  padding: 300% 500% 300% 500%;
  font-size: 20px;
  text-align: center;
}

.plus, .x, .minus, .equals-to, .division{
  background-color: rgb(231, 157, 20);
}

.zero {
  margin-top: -6rem;
  padding: 200% 1280% 200% 500%;
  font-size: 20px;
}

.full-stop, .equals-to {
  margin-top: -6rem;
  padding: 250% 500% 200% 500%;
  font-size: 20px;
  margin-left: 11.25rem;
}
